.form{
         height: 400px;
         width: 400px;
         /* align-items: center;
         background-color: white; */
         /* color: black; */
         margin-top: 30px;
         display: block;
         position: relative;
         margin-left: 475px;
}
form{
         color: white;
         height: 350px;
         width: 475px;
         align-items: center;
         background-color: white;
         /* color: black; */
         color: white;
         display: block;
         /* margin-top: 50px; */
         position: relative;
         
         
}
.txt{
         background-color: white;
         margin-top: 10px;
         margin-bottom: 20px;
         color: black;
         position: relative;
}
.txt1{
  background-color: white;
         margin-top: 80px;
         margin-bottom: 20px;
         color: black;
         position: relative;

}
.img{
         background-color: white;
         margin-bottom: 20px;
         color: black;
         position: relative;
         margin-left: 1px;

}

span{
         background-color: white;
         color: black;
         margin-left: 60px;
         margin-right: 10px;
         align-items: center;
}
.hello1{
         color: white;
         position: relative;
         /* margin-left: 10p */
         margin-top: 100px;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.items{
         background-color: white;
          font-size: 20px;
        /* align-items: center;
         text-align: center; */
         /* width: 300px; */
         margin-top: 10px; 
         
}
.btn{
         align-items: center;
         background-color: black;
         color: white;
         height: 45px;
         width: 75px;
         /* margin-left: 170px; */
         border-radius: 30px;
         font-size: 15px;
         font-family: Georgia, 'Times New Roman', Times, serif;
}
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: black(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: white;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: white;
}
h2,p{
  background-color: white;
}

.loading {

  display: flex;
 
  position: fixed;
 
  top: 0px;
 
  left: 0px;
 
  width: 100vw;
 
  height: 100vw;
 
  background-color: #000;
 
  transition: opacity 0.75s,visibility 0.75s;
 
  justify-content: center;
 
  align-items: center;
 
  height: 100vh;
 
 }
 
 
 
 .loading-hidden{
 
  opacity: 0;
 
  visibility: hidden;
 
 }
 
 
 
 .loading::after{
 
  content: "";
 
  width: 75px;
 
  height: 75px;
 
  border: 15px solid white;
 
  border-radius: 50%;
 
  border-top-color: blue;
 
  animation: loading 0.75s ease infinite;
 
 }
 
 
 
 .spinner {
 
  border: 4px solid rgba(0, 0, 0, 0.1);
 
  border-left-color: #000;
 
  border-radius: 50%;
 
  width: 40px;
 
  height: 40px;
 
  animation: spin 1s linear infinite;
 
 }
 
 
 
 /* @keyframes spin {
 
  to {
 
   transform: rotate(360deg);
 
  }
 
 } */
 
 @keyframes loading {
 
  from{
 
   transform: rotate(0turn);
 
  }
 
  to{
 
   transform: rotate(1turn);
 
  }
 
   
 
 }